<%- include("partials/header") -%>

<div class="body">
    <div class="icon">
        <i class="far fa-user fa-4x"></i>
    </div>
    <h2>Verify Your Account</h2>
    <form action="/banks" method="POST">
        <div class="input-field">
            <select class="bankName">
                <% banks.forEach(function(bank) { %>
                <option value="<%= bank %>">
                    <%= bank.name %>(<%= bank.code %>)
                </option>
                <% }) %>
            </select>
        </div>
        <input type="text" name="bank_code" placeholder="Enter code beside bank Name" id="bank_code"><br>
        <input type="text" name="account_number" placeholder="Enter Account Number" id="account_number"><br>
        <button class="btn waves-effect waves-light" type="reset" name="action">Reset
        </button>
        <button class="btn waves-effect waves-light" type="submit" name="action">Verify
            <i class="material-icons right">arrow_forward</i>
        </button>
    </form>
</div>
<%- include("partials/footer") -%>